body{
background-image: url('images/pizza-4952508__340.webp');
background-repeat: no-repeat;
background-size: cover;
align-items: center;

}

nav{
    color: #ffffff;
    max-width: 10px;
    height: 20px;
   
}
section{
    float: left;
    line-height: 20px;
    padding-left: 4%;
    padding-top:5%;
    font-size: 18px;
    text-align: justify;
}
.order{
    display: block;
    padding-top: 12%;
    padding-left: 6%;
}
button{
    display: inline-block;
    margin-left:5% ;
    font-size: 18px;
    background-color: #ff2104;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #fded10;
    color: rgb(0, 0, 0);
  }
 p{
     font-weight: bold;
    color: rgb(253, 253, 253);
    size: 16px;
    display: flex;
    flex-direction:row;
}
li{
    color: white;
}
h5 {
    color: white;
}
.sizes{
    display: flex;
    flex-direction:column;
    color: blue;
}
form{
    border: #ff2104;
    border-style: dotted;
    align-content: center;
width: 34%;
padding-left: 15px;
padding-right:10px;
padding-top: 12px;
padding-bottom: 12px;
margin-bottom: 12px;
 color: yellow;
 background-color: transparent;
} 

#show{
    display: none;
}
ul-style{
display: none;
}
/* #show{
    display: block;
} */
.Prices{
    padding-top: 5%;
    float: right;
    padding-right: 28%;
    width: 30%;

}

table { 
   
    border: 1px solid #ffffff;
        width: 400px;
		border-spacing: 0.5; 
        background-color: white;
        color: rgb(0, 0, 0);
}
td, th { padding: 5px; 
         font-family: Arial, sans-serif; 
}
tr:nth-of-type(even) { background-color:#fffb07; } 
tr:first-of-type { background-color: #fb1f1f; 
                   color: #140000; }

caption{
    color: white;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

 h1 { 
    text-align:center;
    color: white;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin: 0 0 1em 0;
} 
.another{
    display: none;
}
.Container{
    display: block;
}
.Container {
    float: left;
    font-size: 18px;
    background-color: #fffb07;
    border-radius: 8px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom:3px;

}

input[type=submit]{
    font-size: 16px;
    align-content: center;
    width: 29%;
    padding-left: 15px;
    padding-right:10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border-color: green;
     color: rgb(255, 255, 251);
     background-color:transparent;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  label{
      color: #fffb23;
      padding-right: 9px;


  }

  #add{
   background-color: #fded10; 
   color: #140000;
}

#show-orders{
display: none;
}



footer{
    color: #fded10;
}





 
 